.App {
  text-align: center;
  height: 100vh;
}
.container {
  width: 100vw;
  height: calc(100vh - 110px);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
}
.container .cards {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
}
.image {
  width: 200px;
  height: 200px;
}
 .btn {
  background-color: #005eff;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #3a06063b;
 }
